<html>

    <head>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>COMS-6998 Healthcare</title>

    </head>

    <body>
        
        <div class="relative bg-white overflow-hidden p-5">
            <div class="max-w-7xl mx-auto">
                <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20">
                    <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                        <nav class="relative flex items-center justify-between sm:h-10" aria-label="Global">
                            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                                <div class="flex items-center justify-between w-full md:w-auto">
                                    <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-blue-600.svg">
                                </div>
                            </div>
                            <div class="md:ml-10 md:pr-4 md:space-x-8">
                                {% if toggle_help %} <a href="https://www.law.miami.edu/academics/clinics/health-rights-clinic" target="_blank" class="font-medium text-blue-600 hover:text-blue-500"> Help </a> {% endif %}
                                {% if not toggle_help %} <a href="https://www.law.miami.edu/academics/clinics/health-rights-clinic" target="_blank" class="font-medium text-blue-600 hover:text-blue-500"> Health Rights Clinic </a> {% endif %}
                            </div>
                        </nav>
                    </div>
                    
                    {% block body %}{% endblock %}

                </div>
            </div>
        </div>

    </body>

</html>
