{% extends "layout.html" %}

{% block body %}

<main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <div class="text-left">
        <h1 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl sm:max-w-2xl sm:mx-auto md:text4xl">
            <span class="block">Patient's Last Name</span>
        </h1>
        <input type="text" placeholder="i.e. Smith" class="mt-5 p-4 md:p-5 text-md sm:text-lg md:text-xl bg-gray-100 sm:max-w-2xl sm:mx-auto focus:ring-gray-900 focus:border-gray-900 block w-full border-gray-300 rounded-md">
        <div class="mt-5 sm:mt-8 sm:flex sm:max-w-2xl sm:mx-auto">
            <div class="order-2 mt-3 mb-3 sm:mt-0 sm:ml-3 sm:w-1/2">
                <a href="{{ url_for('.question3') }}" class="flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-10">
                    Continue
                </a>
            </div>
            <div class="order-1 sm:w-1/2">
                <a href="{{ url_for('.question1') }}" class="flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-blue-700 bg-blue-100 hover:bg-blue-200 md:py-4 md:text-lg md:px-10">
                    Back
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock %}
