{% extends "layout.html" %}

{% block body %}

<main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <div class="text-left">
        <h1 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl sm:max-w-2xl sm:mx-auto md:text4xl">
            <span class="block">Review Responses Before Submitting</span>
        </h1>
        
        <div class="flex flex-col my-5 sm:max-w-2xl sm:mx-auto">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr>
                                    <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Question
                                    </th>
                                    <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Response
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                                <tr>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="flex items-center">
                                            <div class="text-sm font-medium text-gray-900">
                                                First Name
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="text-sm text-gray-500">John</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="flex items-center">
                                            <div class="text-sm font-medium text-gray-900">
                                                Last Name
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="text-sm text-gray-500">Smith</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="flex items-center">
                                            <div class="text-sm font-medium text-gray-900">
                                                Date of Birth
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="text-sm text-gray-500">01/01/1984</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="flex items-center">
                                            <div class="text-sm font-medium text-gray-900">
                                                Social Security Number
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="text-sm text-gray-500">012-34-5678</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="flex items-center">
                                            <div class="text-sm font-medium text-gray-900">
                                                Home Address
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="text-sm text-gray-500">500 Lexington Street, New York, New York, 10027</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="flex items-center">
                                            <div class="text-sm font-medium text-gray-900">
                                                Are you working?
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="text-sm text-gray-500">No</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="flex items-center">
                                            <div class="text-sm font-medium text-gray-900">
                                                Do you have any health problems or disabilities?
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-normal">
                                        <div class="text-sm text-gray-500">Yes</div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-5 sm:mt-8 sm:flex sm:max-w-2xl sm:mx-auto">
            <div class="order-2 mt-3 mb-3 sm:mt-0 sm:ml-3 sm:w-1/2">
                <a href="{{ url_for('.success') }}" class="flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-full text-white bg-blue-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-10">
                    Submit
                </a>
            </div>
            <div class="order-1 sm:w-1/2">
                <a href="{{ url_for('.question7') }}" class="flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-full text-blue-700 bg-blue-100 hover:bg-blue-200 md:py-4 md:text-lg md:px-10">
                    Back
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock %}
